@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: aliceblue;
}

* {
  margin: 0;
}

.milestone-container {
  display: flex;
  gap: 10px;
  margin: 20px auto;
  max-width: 1080px;
  padding: 0 20px;
}

.top-milestone {
  /* display: inline-block; */
  background-color: whitesmoke;
  box-shadow: 0 0 10px 5px;
  width: 300px;
  height: auto;
  border: 2px solid blue;
  border-radius: 8px;
  padding: 20px 20px;
  /* margin: 24px 10px; */
}

label {
  color: greenyellow;
}

a:hover {
  color: red;
}

@media (max-width: 764px) {
  .milestone-container {
    flex-direction: column;
    gap: 30px;
  }

  .top-milestone {
    width: 100%;
    box-sizing: border-box;
  }
}
